* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.logo__img {
  width: 15rem; 
}

/* MEDIA */
@media (max-width: 700px)
{
  .logo__img{
    width: 10rem;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

header {
  z-index: 99999px !important;
}

.navbar-light .navbar-nav .nav-link.active{
  color: orangered;
}

.navbar-light .navbar-nav .nav-link  {
  color:rgb(49, 49, 49);
  text-decoration: none;    
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  padding: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover  {
  color:steelblue;
  transition: all 1s ease; 
}

#cesta-carrito {
  border: none;
  color: rgb(225, 76, 65);
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}

#cesta-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(225, 76, 65);
}

#cesta-carrito:focus {
  outline: none;
}

#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
  font-size: 1.4rem;
}

.card {
  max-width: 35%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65) !important;
  border: none;
  background-color: white;
}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

.barra-separadora{
  height: 0px; 
  border: none; 
  border-top: 10px solid #d13d08;
}

.card .card-image{
  margin: 10px;
}

.padding-card{
  right: -15px !important;
  bottom: -1px !important;
}

.contenedor{
	display: flex;
	max-width: 100%;
	height: 60rem;
	background-image: url(../images/carrusel/carrusel6.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
  animation: normal; 
  animation-duration: 4s;
}

.contenedor .wrap{
	max-width: 1000px;
	margin: 0 40rem;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.contenedor .wrap .box{
	flex-basis: 50%;
	color: #ff7d04;
	text-align: left;
	align-self: center;
}

.contenedor .wrap .box h1{
  font-family: 'Righteous', cursive;
}
.contenedor .wrap .box p{
  font-family: 'Righteous', cursive;
	font-size: 25px;
}

.transicion{
  transition: 1s linear;
  background-color: #f7ffea;
}

.transicion:hover{
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
}

/* MEDIA */

@media (max-width: 1250px)
{
  .contenedor{
    background-size: contain;
    max-width: 100%;
    height: 15rem;
    margin: 0 0 27rem 0;
  }
  .contenedor .wrap{
    margin: 5rem 37rem 0;
  }
  .contenedor .wrap .box h1{
    font-size: 2.3rem;
  }
  .contenedor .wrap .box p{
    font-size: 2.3rem;
  }
  .transicion{
    transition: none;
  }
  .transicion:hover{
    box-shadow: none;
  }
}